.Courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.Courses a {
  text-decoration: none;
  color: inherit;
}

.Course {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.Course:hover,
.Course:active {
  color: orangered;
}
